<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home - Spring Boot Security Tutorial</title>
    <link rel="stylesheet" href="../static/styles/home_user.css"/>


    </style>
</head>
<body>
<div class="container">
    <h1 th:text="${user.getUsername()}"></h1>
    <p>This is the user home page. Explore and access your user-specific features.</p>
</div>
</body>
</html>